.product-cont {
    text-aling: center;
    h3 a {
        color: #d3360b;
        margin-bottom: 12px;
    }
    a:hover {
        background: none;
    }
    p {
      margin-top: 10px;
      font-size: 16px;
    }
}


.product-details {
    h1{
    color: #3360b;
    margin-bottom: 24px;
    }
    p{
     font-size: 18px;
    }
    .description {
        margin-top: 100px;
    }
}